<input #checkbox1 type="checkbox" name="toggle" id="toggle">
<label for="toggle"></label>
<div class="container">
</div>

<div class="formAdd">
    <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)" >
        <div class="container">
            <div class="row">
               
                          
                              <div class="col-md-3">
                                <input type="hidden" name="id" [value]="empService.employeeData.id">
             
                                <label for="name" class="float-left">Name</label>
                                <div *ngIf="name.invalid && (name.touched || name.dirty)" class="float-right">
                                    <p class="text-danger">Required</p>
                                </div>
                                <input type="text" name="name" class="form-control" placeholder="Enter Name" #name="ngModel" [(ngModel)]="empService.employeeData.name" required>
                            </div>



                            <div class="col-md-3">
                              <label for="name" class="float-left">Last Name</label>
                              <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)" class="float-right">
                                  <p class="text-danger">Required</p>
                              </div>
                              <input type="text" name="lastname" class="form-control" placeholder="Enter Last Name" #lastname="ngModel" [(ngModel)]="empService.employeeData.lastName" required>
                          </div>

                          <div class="col-md-3">
                            <label for="name" class="float-left">Email</label>
                            <div *ngIf="email.invalid && (email.touched || email.dirty)" class="float-right">
                                <p class="text-danger">Required</p>
                            </div>
                            <input type="Email" name="email" class="form-control" placeholder="Enter Email" #email="ngModel" [(ngModel)]="empService.employeeData.email" required>
                        </div>
                          

                        <div class="col-md-3">
                          <label for="name" class="float-left">Age</label>
                          <div *ngIf="age.invalid && (age.touched || age.dirty)" class="float-right">
                              <p class="text-danger">Required</p>
                          </div>
                          <input type="number" name="age" class="form-control" placeholder="Enter Age" #age="ngModel" [(ngModel)]="empService.employeeData.age" required>
                      </div>
                  
                      
                      <div class="row">
                        <div class="col-md-3">
                            <label for="date" class="label float-left">Date of joining</label>
                            <div *ngIf="doj.invalid && (doj.touched || doj.dirty)" class="float-right">
                                <p class="text-danger">Required</p>
                            </div>
                            <input type="date" class="form-control" name="doj" [(ngModel)]="empService.employeeData.doj" #doj="ngModel" required>
                        </div>
                      
                          
                
                        <div class="col-md-3">
                          <label for="designation" class="label float-left">Designation</label>
                          <div *ngIf="designationID.touched && designationID.value===0" class="float-right">
                              <p class="text-danger">Required</p>
                          </div>
                          
                          <select name="designationID" class="form-control" #designationID="ngModel" [(ngModel)]="empService.employeeData.designationID" required>
                              <option value="0">Please Select</option>
                              <option  *ngFor="let desg of empService.listDesignation" [ngValue]="desg.id">{{ desg.designation }}</option>
                          </select>
                      
                      </div>


                          <div class="col-md-6">
                            <label for="gender">Gender</label>  
                                <div class="col-md-6">
                                <label class="radio-inline"><input type="radio" checked="true" name="gender" #gender='ngModel' [(ngModel)]="empService.employeeData.gender" value="Male"  checked>Male</label>
                                <label class="radio-inline"><input type="radio" checked="true" name="gender" #gender='ngModel' [(ngModel)]="empService.employeeData.gender" value="Female" checked> Female</label>
                                <label class="radio-inline"><input type="radio" checked="true" name="gender" #gender='ngModel' [(ngModel)]="empService.employeeData.gender" value="Other"    checked>Other </label>
                                <div class="col-md-6">
                                  <label class="radio-inline"><input type="checkbox" checked="true" name="isMarried" #gender='ngModel' [(ngModel)]="empService.employeeData.isMarried"  > Married</label>
                                  <label class="radio-inline"><input type="checkbox" checked="true" name="isActive" #gender='ngModel' [(ngModel)]="empService.employeeData.isActive"    >Active </label>
                                  </div>
                        </div>
                      </div>
                    </div>
                    </div>

                    <div class="row">
                      <div class="col-md-8"></div>
                      <div class="col-md-2">
                          <button type="submit" [disabled]="designationID.value===0"  class="btn btn-success btn-block">Save</button>
                      </div>
                      <div class="col-md-2">
                          <button type="reset" class="btn btn-danger btn-block">Cancel</button>
                      </div>
                  </div>

      </div>
      </form>
    </div>



                   

                      
                
            
         
        
       
      
        



       